@import '../../node_modules/bootstrap/';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B71B1B;
}

.grass_back {
    background-color: #DEFDE0;
}

.fire_back {
    background-color: #FDDFDF;
}

.water_back {
    background-color: #DEF3FD;
}

.bug_back {
    background-color: rgb(163, 231, 99);
}

.dark_back {
    background-color: rgb(77, 77, 77);
}

.dragon_back {
    background-color: rgb(117, 93, 225);
}

.electric_back {
    background-color: rgb(255, 255, 0);
}

.fairy_back {
    background-color: rgb(255, 192, 203);
}

.fighting_back {
    background-color: rgb(158, 76, 76);
}

.flying_back {
    background-color: rgb(173, 216, 230);
}

.ghost_back {
    background-color: rgb(173, 216, 230);
}

.ground_back {
    background-color: rgb(158, 123, 9);
}

.ice_back {
    background-color: rgb(106, 186, 212);
}

.normal_back {
    background-color: rgb(190, 190, 190);
}

.poison_back {
    background-color: rgb(128, 0, 128);
}

.psychic_back {
    background-color: rgb(201, 0, 184);
}

.rock_back {
    background-color: rgb(100, 50, 50);
}

.steel_back {
    background-color: rgb(148, 148, 148);
}