@import '../../node_modules/bootstrap/';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B71B1B;
}

.grass_back {
    background-color: #DEFDE0;
}

.fire_back {
    background-color: #FDDFDF;
}

.water_back {
    background-color: #DEF3FD;
}